rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /products/{productId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    match /users/{userId} {
      allow get: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }

    // NOVAS REGRAS PARA AS AVALIAÇÕES
    match /reviews/{reviewId} {
      // Qualquer pessoa pode ler as avaliações
      allow read: if true;

      // Apenas utilizadores autenticados podem criar avaliações
      allow create: if request.auth != null;
    }
  }
}